Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries in Data Science  
- Create and format markdown cells in a Jupyter notebook  
- Execute arithmetic expressions in Python  
- Understand and use basic Git and GitHub features

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| VS Code                   |

Below are a few examples of evaluating arithmetic expressions in Python.

- `3 + 5` evaluates to `8` → *Addition*
- `10 - 4` evaluates to `6` → *Subtraction*
- `7 * 6` evaluates to `42` → *Multiplication*
- `12 / 4` evaluates to `3.0` → *Division*
- `5 ** 2` evaluates to `25` → *Exponentiation*
- `10 % 3` evaluates to `1` → *Modulus (remainder)*

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author

Siddhartha Adak